services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: soeirotech_backend
    working_dir: /app/backend
    command: >
      bash -c "python manage.py migrate &&
               python manage.py runserver 0.0.0.0:8000"
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app/backend
    env_file:
      - ./backend/.env
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: soeirotech_db
    restart: always
    environment:
      POSTGRES_DB: soeirotech_db
      POSTGRES_USER: soeirotech_user
      POSTGRES_PASSWORD: soeirotech_pass
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
